@{
    ViewBag.Title = "Ürün Listesi";
}
@model List<ECommerceApp.BLL.Models.ProductListVM>

<h2>Index</h2>

<p>
    @Html.ActionLink("Ürün Oluştur", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Kullanıcılar
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Create", "Create", new { id = item.Id })
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
